<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Banner</title>
    <meta charset="utf-8">
    <style>
        {% if isVertical %}
            {% include "../public/styles/vertical.bundle.min.css" %}
            {% set dimensions = dimensions.vertical %}
        {% else %}
            {% include "../public/styles/horizontal.bundle.min.css" %}
            {% set dimensions = dimensions.horizontal %}
        {% endif %}
    </style>
</head>
<body class="page-body">
    <div class="banner-{{ dimensions.width }}x{{ dimensions.height }}">

        <span class="age-limit">{{ content.static.ageLimit }}</span>
        <div class="static-holder">
            <span class="title-2 color-purple">
                Загрузить<br>
                приложение
            </span>
            <div class="app-links">
                <a target="_blank" href="{{ content.static.linkIos }}" class="app-links-ios"></a>
                <a target="_blank" href="{{ content.static.linkAndroid }}" class="app-links-android"></a>
            </div>
        </div>
        <a target="_blank" href="{{ content.static.bannerLink }}" class="banner-link"></a>

        <div class="slider" data-animation-delay="{{ animation.slide.delay }}">
            {% if isVertical %}
                {% include "../views/slides/vertical.html" %}
            {% else %}
                {% include "../views/slides/horizontal.html" %}
            {% endif %}
        </div>
    </div>
    <script>
        {% include "../public/scripts/bundle.min.js" %}
    </script>
</body>
</html>
