<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{ main.name || 'Banners generator'}}</title>
    <meta charset="utf-8">
    <style>
        {% include "../public/styles/bundle.min.css" %}
    </style>
</head>
<body class="page-body">
{% if error %}
    <h1>Что-то пошло не так!</h1>
{% else %}
    <div class="banner-{{ main.dimensions.width }}x{{ main.dimensions.height }}">
        <span class="age-limit">{{ main.content.ageLimit }}</span>
        <div class="static-holder">
            <span class="title-2 color-purple">
                Загрузить<br>
                приложение
            </span>
            <div class="app-links">
                <a target="_blank" href="{{ main.content.linkIos }}" class="app-links-ios"></a>
                <a target="_blank" href="{{ main.content.linkAndroid }}" class="app-links-android"></a>
            </div>
        </div>
        <a target="_blank" href="{{ main.content.bannerLink }}" class="banner-link"></a>

        <div class="slider" data-animation-delay="{{ animation.slide.delay }}">
            {% for slide in slides %}
                {% set animationTop = '' %}
                {% set animationBottom = '' %}
                {% if slide.top.animation %}
                    {% if slide.top.animation.order === 1 %}
                        {% set order = 'first' %}
                    {% elseif slide.top.animation.order === 2 %}
                        {% set order = 'second' %}
                    {% endif %}
                    {% set animationTop = 'animate-' + order + ' ' + 'fadein-' + slide.top.animation.direction %}
                {% endif %}
                {% if slide.bottom.animation %}
                    {% if slide.bottom.animation.order === 1 %}
                        {% set order = 'first' %}
                    {% elseif slide.bottom.animation.order === 2 %}
                        {% set order = 'second' %}
                    {% endif %}
                    {% set animationBottom = 'animate-' + order + ' ' + 'fadein-' + slide.bottom.animation.direction %}
                {% endif %}
                <div class="slider__item{% if loop.first %} slider__item_active{% endif %}">
                    <div class="slide-content">
                        <div class="slide-content__top">
                            <div class="slide-content__inner{% if not slide.top.valignBottom %} slide-content__inner_valign-top{% endif %}">
                                {% if slide.top.text %}
                                    <span class="color-white text title-{{ slide.top.textLevel }} {{ animationTop }}">
                                        {{ slide.top.text|safe }}
                                    </span>
                                {% endif %}
                                {% if slide.top.image %}
                                    <span class="{{ slide.top.image }} {{ animationTop }}"></span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="slide-content__bottom">
                            <div class="slide-content__inner">
                                {% if slide.bottom.text %}
                                    <span class="color-white text title-{{ slide.bottom.textLevel }} {{ animationBottom }}">
                                        {{ slide.bottom.text|safe }}
                                    </span>
                                {% endif %}
                                {% if slide.bottom.image %}
                                    <span class="{{ slide.bottom.image }} {{ animationBottom }}"></span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
<script>
    {% include "../public/scripts/bundle.min.js" %}
</script>
</body>
</html>
