{% spaceless %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Banners generator</title>
    <meta charset="utf-8">
    <meta name="description" content="Banner">
    <meta name="Keywords" content="Banner">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/styles/bundle.min.css" media="all">
</head>
<body class="page-body">
<div class="banner-1000x120">
    <span class="age-limit">16+</span>
    <div class="static-holder">
        <span class="title-2 color-purple">
            Загрузить<br>
            приложение
        </span>
        <div class="app-links">
            <a target="_blank" href="https://itunes.apple.com/ru/app/avito-uslugi-pro-vozmoznost/id1011876040?mt=8" class="app-links-ios"></a>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.avito.services&hl=ru" class="app-links-android"></a>
        </div>
    </div>
    <div class="slider">
        {#<div class="slider__item slides__item_active">
            <div class="slide-content">
                <div class="slide-content__left-side">
                    <span class="">–50%</span>
                </div>
                <div class="slides__right-side">
                    <span>Мобильный офис для профессионалов в услугах уже здесь</span>
                </div>
            </div>
        </div>#}

        <div class="slider__item slider__item_active">
            <div class="slide-content">
                <div class="slide-content__left-side" style="vertical-align: bottom">
                    <span class="phone"></span>
                </div>
                <div class="slide-content__right-side">
                    <span class="text title-3 color-white">Мобильный офис для профессионалов<br> в услугах уже здесь</span>
                </div>
            </div>
        </div>
        <div class="slider__item">
            <div class="slide-content">
                <div class="slide-content__left-side">
                    <span class="text color-white title-4">–50%</span>
                </div>
                <div class="slide-content__right-side">
                    <span class="text title-3 color-white">Установите «Avito Услуги Pro» и получите скидку на дополнительные услуги*</span>
                    <span class="text title-1 color-white">*Скидка распространяется на услуги: VIP, Поднятие, Выделение, Премиум и пакеты: Быстрая продажа и Турбо-продажа и действует только при оплате из приложения «Avito Услуги Pro».</span>
                </div>
            </div>
        </div>
        <div class="slider__item">
            <div class="slide-content">
                <div class="slide-content__left-side" style="vertical-align: bottom">
                    <span class="phone"></span>
                </div>
                <div class="slide-content__right-side">
                    <span class="text title-3 color-white">Установите приложение<br>и зарабатывайте больше с Avito!</span>
                </div>
            </div>
        </div>
        <div class="slider__item">
            <div class="slide-content">
                <div class="slide-content__left-side">
                </div>
                <div class="slide-content__right-side">
                    <span class="logo"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/scripts/bundle.min.js"></script>
</body>
</html>
{% endspaceless %}