<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Banners generator</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body class="page-body">
    <iframe class="js-iframe" src="banner.html" frameborder="0" width="{{ main.dimensions.width }}" height="{{ main.dimensions.height }}"></iframe>
    <div class="remote-control">
        <div class="remote-control__counter">
            <span class="js-slide-index"></span>
            / {{ slides.length }}
        </div>
        <span class="remote-control__button js-backward">
            <i class="fa fa-step-backward"></i>
        </span>
        <span class="remote-control__button remote-control__button_play js-play">
            <i class="fa fa-play"></i>
            <i class="fa fa-pause"></i>
        </span>
        <span class="remote-control__button js-forward">
            <i class="fa fa-step-forward"></i>
        </span>
        <a download="{{ main.name }}.html" href="/banner.html" class="remote-control__button">
            <i class="fa fa-cloud-download"></i>
            Download
        </a>
    </div>
    <script src="/dev/script.js"></script>
</body>
</html>
