.{$banner-name}
    width $width
    height $heigth
    overflow hidden
    position relative
    border 1px solid $color-purple
    font-family $fontDefault
    background $color-purple

.age-limit
    display block
    width 30px
    height 30px
    border-radius 50%
    border 1px solid $color-white
    opacity .7
    text-align center
    line-height 30px
    font 400 14px/30px $fontDefault
    color $color-white
    z-index 100
    position absolute
    top 75px
    left 10px

.static-holder
    background $color-white
    position absolute
    right 0
    top 0
    width 168px
    height 118px
    box-sizing border-box
    padding 12px 0 0 30px

.app-links
    padding-top 10px

    &-ios
    &-android
        display inline-block
        width $app-logo-width
        height $app-logo-heigth
        background no-repeat 0 0 / cover

    &-ios
        background-image url($img-url + 'ios-logo.svg')
        margin-right 5px

    &-android
        background-image url($img-url + 'android-logo.svg')

.slider
    position absolute
    top 0
    bottom 0
    overflow hidden
    left 60px
    right 200px

    &__item
        position absolute
        left 0
        top 0
        right 0
        bottom 0
        opacity 0
        visibility hidden
        transition opacity $slide-animation-time $timing-function, visibility $slide-animation-time $timing-function

        &_active
            opacity 1
            visibility visible

.slide-content
    display table
    height 118px
    width 100%

    &__left-side
        display table-cell
        text-align center
        vertical-align middle
        width 200px

    &__right-side
        display table-cell
        text-align left
        vertical-align middle
        padding-left 40px

    &__left-side
    &__right-side
        &_valign-bottom
            vertical-align bottom

.phone
    background url($img-url + 'device-uslugi-pro.png') no-repeat 0 0 / cover
    width $phone-width
    height $phone-height
    display inline-block
    vertical-align bottom

.logo
    background url($img-url + 'avito-logo.svg') no-repeat 0 0 / cover
    width $logo-width
    height $logo-height
    display inline-block
    vertical-align middle

// Typography
.title-1
    font 400 11px/1.45 $fontDefault
    margin-top 10px

.title-2
    font 700 16px/1.3 $fontDefault

.title-3
    font 400 22px/1.3 $fontDefault

.title-4
    font 300 78px/1.3 $fontDefault
