.{$banner-name}
    width $width
    height $heigth
    overflow hidden
    position relative
    border 1px solid $color-gray
    font-family $fontDefault

.content
    padding 12px 20px 10px 15px
    overflow hidden

.image
    display block
    width $image-width
    height $image-height

    &-link
        display block
        float left

.attribution
    position absolute
    right -1px
    bottom -1px
    background #ffb300
    color #fff
    padding 0 5px 0 15px
    height 13px
    font-size 8px
    line-height @height
    border-top-left-radius 3px

    &:before
        content ''
        display block
        position absolute
        left 3px
        top 3px
        width 7px
        height 7px
        border-radius 50%
        background radial-gradient(ellipse at center, #fff 0%, #fff 20%, #ffb300 30%, #ffb300 50%, #fff 60%, #fff 100%); // @stylint off

    &:hover
        color #fff !important

.button
    float right
    box-sizing border-box
    height 40px
    min-width 160px
    border 1px solid $color-gray
    font 400 16px $fontDefault
    line-height @height
    text-align center
    text-decoration none
    border-radius 3px
    color $color-dark
    margin-top (($heigth -  @height) / 2)
    margin-right 25px
    margin-left 15px
