.{$banner-name}
    width $width
    height $heigth
    overflow hidden
    position relative
    border 1px solid $color-purple
    font-family $fontDefault
    background $color-purple

.age-limit
    opacity .7
    font 400 14px/1.2 $fontDefault
    color $color-white
    z-index 100
    position absolute
    top 12px
    left 19px

.static-holder
    background $color-white
    position absolute
    left 0
    right 0
    bottom 0
    height 65px
    box-sizing border-box
    padding 12px 0 0 19px
    z-index 10
    box-shadow 0 0 3px rgba(#000, .3)

.app-links
    position absolute
    top 50%
    margin-top -($app-logo-heigth / 2)
    right 19px

    &-ios
    &-android
        display inline-block
        width $app-logo-width
        height $app-logo-heigth
        background no-repeat 0 0 / cover

    &-ios
        background-image url($img-url + 'ios-logo.svg')
        margin-right 5px

    &-android
        background-image url($img-url + 'android-logo.svg')

.slider
    position absolute
    top 40px
    bottom 65px
    overflow hidden
    left 10px
    right 10px

    &__item
        position absolute
        left 0
        top 0
        right 0
        bottom 0
        opacity 0
        visibility hidden
        transition opacity $slide-animation-time $timing-function, visibility $slide-animation-time $timing-function

        &_active
            opacity 1
            visibility visible

.slide-content
    display table
    width 100%
    height 100%

    &__inner
        display table-cell
        vertical-align bottom

        &_valign-top
            vertical-align top

    &__top
        display table-row

        .slide-content__inner
            height 70px

    &__bottom
        display table-row

.phone
    background url($img-url + 'device-uslugi-pro.png') no-repeat 0 0 / cover
    width $phone-width
    height $phone-height
    display inline-block
    vertical-align bottom

.logo
    background url($img-url + 'avito-logo.svg') no-repeat 0 0 / cover
    width $logo-width
    height $logo-height
    display inline-block
    vertical-align top
    margin-left 9px

.banner-link
    display block
    position absolute
    left 0
    top 0
    right 0
    bottom 65px
    z-index 20
    outline 0
    text-decoration none

// Typography
.title-1
    font 400 13px/1.45 $fontDefault
    margin-bottom 30px
    padding-left 9px
    opacity .8

.title-2
    font 700 16px/1.3 $fontDefault

.title-3
    font 400 22px/1.3 $fontDefault
    padding-left 9px

.title-4
    font 300 78px/1.3 $fontDefault
    padding-left 9px
