.banner-1000x120
    width 998px
    height 118px
    overflow hidden
    position relative
    border 1px solid $color-purple
    font-family $fontDefault
    background $color-purple

.age-limit
    display block
    width 30px
    height 30px
    border-radius 50%
    border 1px solid $color-white
    opacity .7
    text-align center
    line-height 30px
    font 400 14px/30px $fontDefault
    color $color-white
    z-index 100
    position absolute
    top 75px
    left 10px

.static-holder
    background $color-white
    position absolute
    right 0
    top 0
    width 168px
    height 118px
    box-sizing border-box
    padding 12px 0 0 30px

.app-links
    padding-top 10px

    &-ios
    &-android
        display inline-block
        width 38px
        height 38px
        background no-repeat 0 0 / cover

    &-ios
        background-image url('../image/ios-logo.svg')
        margin-right 5px

    &-android
        background-image url('../image/android-logo.svg')

.slider
    position absolute
    top 0
    bottom 0
    overflow hidden
    left 60px
    right 200px

    &__item
        position absolute
        left 0
        top 0
        right 0
        bottom 0
        opacity 0
        visibility hidden
        transition opacity $slide-animation-time $timing-function, visibility $slide-animation-time $timing-function

        &_active
            opacity 1
            visibility visible

.slide-content
    display table
    height 118px
    width 100%

    &__left-side
        display table-cell
        text-align center
        vertical-align middle
        width 200px

    &__right-side
        display table-cell
        text-align left
        vertical-align middle
        padding-left 40px

.phone
    background url('../image/device_uslugi_pro.png') no-repeat 0 0 / cover
    width 140px
    height 111px
    display inline-block
    vertical-align bottom

.logo
    background url('../image/avito-logo.svg') no-repeat 0 0 / cover
    width 220px
    height 36px
    display inline-block
    vertical-align middle
