.text
    display inline-block
    width 100%

.color-white
    color $color-white

.color-purple
    color $color-purple

.banner-1000x120
    .title-1
        font 300 11px/1.3 $fontDefault
        margin-top 10px

    .title-2
        font 700 16px/1.3 $fontDefault

    .title-3
        font 400 24px/1.2 $fontDefault

    .title-4
        font 400 78px/1.3 $fontDefault

.banner-240x400
    .title-1
        font 400 10px/1.3 $fontDefault
        margin-top 10px
        padding-left 10px

    .title-2
        font 700 16px/1.3 $fontDefault

    .title-3
        font 400 20px/1.3 $fontDefault
        padding-left 10px

    .title-4
        font 400 78px/1 $fontDefault
        padding-left 10px

