.text
    display inline-block
    width 100%

.color-white
    color $color-white

.color-purple
    color $color-purple

.title-1
    font 400 12px/1.45 $fontDefault
    margin-bottom 25px
    padding-left $slide-innder-offset
    opacity .8

.title-2
    font 700 17px/1.25 $fontDefault

.title-3
    font 400 20px/1.3 $fontDefault
    padding-left $slide-innder-offset

.title-4
    font 400 78px/1 $fontDefault
    padding-left $slide-innder-offset

strong
    font-weight 700

