.title
    font 400 16px/20px $fontDefault
    margin-bottom 7px
    padding-top 12px
    padding-right 220px

    &-link
        color $color-blue
        text-decoration none
        transition opacity ease .3s

        &:hover
            color lighten(#008CC3, 10%)

.body
    font 400 14px/20px $fontDefault
    margin-bottom 7px

    &-link
        color $color-dark
        text-decoration none

        &:hover
            color lighten(#000, 30%)

.advertiser
    font 400 14px/20px $fontDefault

    &-link
        color $color-green
        text-decoration none

        &:hover
            color lighten(#629C1C, 15%)
