// Banner class name
$banner-name = 'banner-' + data.dimensions.vertical.width + 'x' + + data.dimensions.vertical.height

// Banner dimensions
$width = unit(data.dimensions.vertical.width - 2, 'px')
$heigth = unit(data.dimensions.vertical.height - 2, 'px')
$app-logo-width = unit(data.dimensions.vertical.appLogoWidth, 'px')
$app-logo-heigth = $app-logo-width
$logo-width = unit(data.dimensions.vertical.logoWidth, 'px')
$logo-height = unit(data.dimensions.vertical.logoHeight, 'px')
$phone-width = unit(data.dimensions.vertical.phoneWidth, 'px')
$phone-height = unit(data.dimensions.vertical.phoneHeight, 'px')
