// Banner class name
$banner-name = 'banner-' + data.dimensions.horizontal.width + 'x' + + data.dimensions.horizontal.height

// Banner dimensions
$width = unit(data.dimensions.horizontal.width - 2, 'px')
$heigth = unit(data.dimensions.horizontal.height - 2, 'px')
$app-logo-width = unit(data.dimensions.horizontal.appLogoWidth, 'px')
$app-logo-heigth = $app-logo-width
$logo-width = unit(data.dimensions.horizontal.logoWidth, 'px')
$logo-height = unit(data.dimensions.horizontal.logoHeight, 'px')
$phone-width = unit(data.dimensions.horizontal.phoneWidth, 'px')
$phone-height = unit(data.dimensions.horizontal.phoneHeight, 'px')
