// Font-family
$fontDefault = unquote(data.style.defaultFont)

// Colors
$color-purple = unquote(data.style.color1)
$color-white = unquote(data.style.color2)

// Img url
$img-url = '../../../public/img/'

// Animation
$timing-function = unquote(data.animation.slide.function)
$slide-animation-time = unit(data.animation.slide.time, 's')
$inner-animation-time = unit(data.animation.slide.time, 's')
$first-animation-delay = $slide-animation-time
$second-animation-delay = unit(data.animation.slide.time + 0.3, 's')
