$banner-name = 'banner-' + data.main.dimensions.width + 'x' + + data.main.dimensions.height

// Font-family
$fontDefault = unquote(data.main.style.defaultFont)

// Colors
$color-blue = unquote(data.main.style.color1)
$color-white = unquote(data.main.style.color2)

// Offset
$width = unit(data.main.dimensions.width, 'px')
$heigth = unit(data.main.dimensions.height, 'px')
$banner-top-offset = unit(data.main.dimensions.bannerTopOffset, 'px')
$banner-side-offset = unit(data.main.dimensions.bannerSideOffset, 'px')
$banner-bottom-offset = $banner-top-offset
$slide-top-offset = unit(data.main.dimensions.slideTopOffset, 'px')
$slide-bottom-offset = unit(data.main.dimensions.slideBottomOffset, 'px')
$slide-side-offset = $banner-side-offset
$logo-width = unit(data.main.dimensions.logoWidth, 'px')
$logo-height = unit(data.main.dimensions.logoHeight, 'px')

// Animation
$timing-function = unquote(data.animation.slide.function)
$slide-animation-time = unit(data.animation.slide.time, 's')
$inner-animation-time = unit(data.animation.slide.time, 's')
$first-animation-delay = $slide-animation-time
$second-animation-delay = unit(data.animation.slide.time + 0.3, 's')
