#adunit
    width 1000px
    height 120px
    overflow hidden
    position relative
    border 1px solid $color-gray
    font-family $fontDefault
    box-sizing border-box
    padding-right 300px

.image
    float left
    width $image-width
    height $image-height
    margin-right 15px

    &-link
        display block

    img
        width $image-width
        height $image-height
        display block

.attribution
    position absolute
    right -1px
    bottom -1px
    background #ffb300
    color #fff
    padding 0 5px 0 15px
    height 13px
    font-size 8px
    line-height @height
    border-top-left-radius 3px

    &:before
        content ''
        display block
        position absolute
        left 3px
        top 3px
        width 7px
        height 7px
        border-radius 50%
        background radial-gradient(ellipse at center, #fff 0%, #fff 20%, #ffb300 30%, #ffb300 50%, #fff 60%, #fff 100%); // @stylint off

    &:hover
        color #fff !important

.call-to-action
    position absolute
    right 35px
    top 35px

.call-to-action-link
    display block
    box-sizing border-box
    height 50px
    min-width 244px
    border 1px solid $color-gray
    font 400 20px $fontDefault
    line-height @height
    text-align center
    text-decoration none
    border-radius 3px
    color $color-dark

.logo
.advertiser
    display none