.ad-1
    width $width
    height $heigth
    overflow hidden
    position relative
    border 1px solid $color-gray
    font-family $fontDefault

.image
    display block
    height $image-height
    background #F3F3F3

    &-link
        display block
        height $image-height
        overflow hidden

    img
        display block
        height $image-height
        width $image-width
        margin 0 auto

.attribution
    position absolute
    right -1px
    bottom -1px
    background #ffb300
    color #000
    padding 0 5px 0 5px
    height 13px
    font-size 10px
    line-height @height
    border-top-left-radius 3px

.logo
.body
.call-to-action
    display none