// Colors
$color-gray = #7e7e7e
$color-pink = #FF6B6B
$color-mint = #4ECDC4
$color-white = #fff
$color-dark = #556270
$offset = 20px

*
    margin 0
    padding 0

html, body
    height 100%

.page-body
    font 400 14px/1.3 Arial, sans-serif
    padding $offset
    box-sizing border-box

.notice
    opacity 0
    position absolute
    top 0
    bottom 0
    left 100%
    margin-left 20px
    padding 0 15px
    border-radius 5px
    background $color-mint
    color $color-dark
    font-size 18px
    white-space nowrap
    line-height 52px
    transition 1s opacity ease

    .fa
        color $color-pink

    &_show
        opacity 1


.remote-control
    position absolute
    bottom $offset
    padding 10px
    border-radius 5px
    background $color-mint
    color $color-dark

    &__counter
        border-radius 5px
        background $color-white
        border 1px solid $color-pink
        display inline-block
        margin-right 30px
        min-height 30px
        line-height @min-height
        padding 0 10px
        box-sizing border-box

    &__button
        position relative
        border-radius 5px
        display inline-block
        background $color-pink
        color $color-white
        text-decoration none
        padding 0 10px
        text-align center
        cursor pointer
        min-width 30px
        margin-right 5px
        min-height 30px
        line-height @min-height
        transition background .3s ease

        &_play
            .fa-pause
                display inline-block

            .fa-play
                display none

        &_pause
            .fa-pause
                display none
            .fa-play
                display inline-block

        &:last-child
            margin-left 30px

        &:hover
            background rgba($color-pink, .8)

        &:active
            top 1px